.root {
  max-width: var(--max-width);
  margin-inline-start: auto;
  margin-inline-end: auto;

  & p,
  & li {
    max-width: 70ch;
  }
}

.owl {
  & > * {
    margin-block: 0;
  }

  & > * + * {
    margin-block-start: 1em;
  }
}

.padding-loose {
  margin-block: 3rem;
  padding-inline: 1rem;
}

@media (min-width: 64em) {
  .padding-loose {
    margin-block: 6rem;
    padding-inline: 0;
  }
}

.padding-tight {
  margin-block: 1.5rem;
  padding-inline: 1em;
}

@media (min-width: 64em) {
  .padding-tight {
    margin-block: 3rem;
    padding-inline: 0;
  }
}
