.root {
  display: grid;
  grid-gap: 2rem;
  list-style-type: none;
  padding-inline-start: 0;

  @media (min-width: 64em) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.coach {
  & > * {
    margin-block: 0;
  }

  & > * + * {
    margin-block-start: 0.8em;
  }
}

.coachPhoto {
  max-width: 100%;
  height: auto;
  max-height: 333px;
  object-fit: cover;
}

.coachFigure {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 3%;
    top: 3%;
    border: 3px solid #eee;
    z-index: -1;
  }
}

.coachName {
  display: block;
  text-transform: uppercase;
}

.coachLabel {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  bottom: -0.2rem;
}
