.footerWrap {
  display: grid;
  gap: 2rem;

  @media (min-width: 64em) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}

.footerLeft {
  text-align: center;

  @media (min-width: 64em) {
    text-align: left;
  }
}

.socialLinks {
  list-style-type: none;
  padding-inline-start: 0;

  & li {
    display: inline-block;
    margin-inline-end: 2rem;
  }
}

.footerLogo {
  display: inline-block;
  margin-bottom: 2rem;
}

.footerContact {
  display: grid;
  gap: 1rem;
  grid-auto-rows: auto;
  line-height: 1.5;
}

.contactList {
  list-style-type: none;
  padding-inline-start: 0;

  & li:not(:last-child) {
    margin-block-end: 0.2rem;
  }
}

@media (min-width: 64em) {
  .contactList {
    margin: 0; /* needed? */
    & li {
      padding-inline-start: 0.4rem;
    }
  }

  .phone {
    list-style-image: url('data:image/svg+xml, <svg width="16" height="16" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" ><path d="M44.7394 59.6053C43.6579 59.4237 42.5684 59.2816 41.4947 59.0526C37.4897 58.0626 33.6515 56.4906 30.1026 54.3868C24.5169 51.2827 19.4549 47.3184 15.1026 42.6395C9.80522 36.8842 5.39996 30.5447 2.62101 23.1711C1.54424 20.5182 0.924939 17.702 0.789435 14.8421C0.685671 13.4433 0.876579 12.0382 1.34982 10.7177C1.82307 9.39728 2.56811 8.19082 3.5368 7.17633C5.1947 5.47896 6.79733 3.71843 8.58154 2.17106C11.3368 -0.19736 14.3368 -0.19736 16.9973 2.28159C19.8079 4.91843 22.5236 7.68948 25.1368 10.5079C26.0956 11.5415 26.6284 12.8993 26.6284 14.3092C26.6284 15.7191 26.0956 17.0769 25.1368 18.1105C23.7473 19.6895 22.2079 21.1263 20.7394 22.6342C20.6052 22.7605 20.4631 22.8711 20.2184 23.0921C24.1399 30.1906 29.9958 36.0301 37.1052 39.9316L40.6105 36.3869C41.4714 35.3697 42.5509 34.5601 43.7684 34.0184C44.7246 33.6025 45.7822 33.4781 46.8088 33.6607C47.8354 33.8432 48.7853 34.3247 49.5394 35.0447C52.4815 37.8447 55.35 40.7237 58.1447 43.6816C59.0921 44.697 59.6313 46.0263 59.659 47.4147C59.6867 48.8032 59.2009 50.153 58.2947 51.2053C56.5263 53.2895 54.5684 55.2632 52.5868 57.1737C51.1758 58.4715 49.3794 59.2726 47.471 59.4553C47.3348 59.4874 47.2004 59.527 47.0684 59.5737L44.7394 59.6053ZM45.6158 56.0447C46.5881 56.0981 47.5606 55.941 48.4667 55.584C49.3728 55.227 50.1911 54.6786 50.8658 53.9763C52.1921 52.5869 53.55 51.229 54.8921 49.8553C55.0654 49.6803 55.2288 49.4958 55.3815 49.3026C55.61 49.0726 55.7899 48.799 55.9104 48.498C56.0309 48.197 56.0895 47.8749 56.0829 47.5507C56.0763 47.2266 56.0045 46.9071 55.8718 46.6113C55.7391 46.3155 55.5482 46.0494 55.3105 45.829C54.2289 44.6605 53.0842 43.5553 51.9631 42.4263C50.5026 40.9658 49.0579 39.4974 47.5815 38.0605C47.3666 37.819 47.1045 37.6239 46.8114 37.4875C46.5182 37.3511 46.2002 37.2761 45.877 37.2672C45.5538 37.2584 45.2322 37.3158 44.932 37.4359C44.6318 37.556 44.3594 37.7364 44.1315 37.9658C43.9105 38.1474 43.7131 38.3526 43.5079 38.5579C42.1026 39.9553 40.7131 41.3684 39.3 42.75C38.8924 43.2179 38.3349 43.5297 37.7228 43.6319C37.1108 43.7342 36.4822 43.6206 35.9447 43.3105C35.0842 42.8763 34.2315 42.4421 33.4026 41.9526C29.7519 39.7203 26.4484 36.9647 23.5973 33.7737C20.9547 31.0671 18.7636 27.9538 17.1079 24.5526C16.271 22.7053 16.4526 21.8053 17.8973 20.4C19.3421 18.9947 20.8894 17.5026 22.3184 15.9869C22.5494 15.7794 22.735 15.5264 22.8638 15.2439C22.9927 14.9614 23.0618 14.6554 23.067 14.3449C23.0722 14.0345 23.0133 13.7263 22.894 13.4397C22.7747 13.153 22.5976 12.8941 22.3736 12.679C22.2 12.4737 22.0184 12.2842 21.8368 12.0947L14.9052 5.13159C13.421 3.67106 12.1026 3.65527 10.6184 5.13159C9.13417 6.6079 7.7368 7.91054 6.3868 9.38685C5.72133 10.0741 5.18632 10.8767 4.80786 11.7553C4.21458 13.6405 4.18987 15.6587 4.7368 17.5579C5.39393 20.5075 6.42878 23.36 7.81575 26.0447C10.1954 30.779 13.213 35.1646 16.7842 39.079C22.93 46.0736 30.7074 51.4429 39.4263 54.7105C41.4102 55.4603 43.4979 55.8997 45.6158 56.0132V56.0447Z" fill="black" /></svg>');
  }

  .message {
    list-style-image: url('data:image/svg+xml, <svg width="19" height="13" viewBox="0 0 89 60" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" ><path d="M81.5259 0.384399H6.59903C2.96256 0.384399 -0.00012207 3.34709 -0.00012207 6.98356V53.0054C-0.00012207 56.6419 2.96256 59.6046 6.59903 59.6046H81.5259C85.1624 59.6046 88.1251 56.6419 88.1251 53.0054V6.98356C88.1251 3.34709 85.1624 0.384399 81.5259 0.384399ZM85.6311 6.98356V53.0054C85.6311 53.7452 85.426 54.4226 85.0781 55.0196L57.645 29.9996L85.0781 4.96924C85.4151 5.56983 85.6311 6.25484 85.6311 6.98356ZM81.5259 2.88565C82.1338 2.88565 82.7161 3.02481 83.2324 3.27017L49.2368 34.292C46.2925 36.9837 41.8394 36.9837 38.8952 34.292L4.89213 3.27017C5.41581 3.02481 5.99078 2.88565 6.59866 2.88565H81.5259ZM3.04685 55.0303C2.70993 54.4298 2.49387 53.7449 2.49387 53.0162V6.98309C2.49387 6.24334 2.69895 5.56587 3.04685 4.96896L30.48 29.9993L3.04685 55.0303ZM6.59913 57.1141C5.99121 57.1141 5.40897 56.975 4.8926 56.7296L32.3332 31.688L37.2075 36.1412C39.1557 37.9209 41.613 38.8145 44.0593 38.8145C46.5056 38.8145 48.9629 37.9246 50.9111 36.1412L55.7853 31.688L83.226 56.7296C82.7023 56.975 82.1273 57.1141 81.5194 57.1141H6.59913Z" fill="black" /></svg>');
  }

  .location {
    list-style-image: url('data:image/svg+xml, <svg width="12" height="16" viewBox="0 0 45 60" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" ><path d="M22.2222 59.6296C21.5364 59.6296 20.8883 59.3229 20.4543 58.7905C20.2517 58.5416 15.408 52.5839 10.4802 45.1823C3.69487 34.9883 0.254272 27.3001 0.254272 22.3349C0.257166 10.2223 10.1098 0.370483 22.2217 0.370483C34.3335 0.370483 44.1861 10.2231 44.1861 22.3349C44.1861 27.3002 40.7458 34.9883 33.9602 45.1823C29.0355 52.584 24.1913 58.5416 23.9861 58.7905C23.555 59.3229 22.9069 59.6296 22.2211 59.6296H22.2222ZM22.2222 4.92737C12.6244 4.92737 4.81775 12.734 4.81775 22.3318C4.81775 29.78 16.1081 45.8274 22.2222 53.6859C28.3362 45.8303 39.6266 29.7822 39.6266 22.3318C39.6266 12.737 31.82 4.92737 22.2222 4.92737Z" fill="black" /><path d="M22.2222 31.6739C17.0284 31.6739 12.8037 27.3965 12.8037 22.1376C12.8037 16.8788 17.0282 12.6013 22.2222 12.6013C27.4162 12.6013 31.6407 16.8787 31.6407 22.1376C31.6407 27.3964 27.4162 31.6739 22.2222 31.6739ZM22.2222 17.2191C19.5428 17.2191 17.3611 19.4251 17.3611 22.141C17.3611 24.8539 19.5399 27.0629 22.2222 27.0629C24.9016 27.0629 27.0833 24.8568 27.0833 22.141C27.0833 19.4251 24.9016 17.2191 22.2222 17.2191Z" fill="black" /></svg>');
  }
}
