.hero {
  min-height: 400px !important;
}

.heroTagline {
  font-size: 2rem;
}

.features {
  display: grid;
  gap: 1rem;
}

@media (min-width: 64em) {
  .features {
    margin-top: -5rem;
    position: relative;
    z-index: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}

.programGrid {
  &:nth-child(odd) {
    .programFigure {
      order: -1;
      justify-self: start;

      &::before {
        left: -3%;
      }
    }
  }
}

@media (min-width: 64em) {
  .programGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

@media (min-width: 64em) {
  .programs {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 4rem;
  }
}

.programFigure {
  margin-top: 1rem;
  position: relative;
}

@media (min-width: 64em) {
  .programFigure {
    justify-self: end;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 3%;
      top: 3%;
      border: 3px solid #eee;
      z-index: -1;
    }
  }
}

.programImage {
  height: 300px;
  object-fit: cover;
  display: block;
}

.gettingStarted {
  background-color: var(--cfph-primary);
}

.gettingStartedGrid {
  color: #fff;
}

@media (min-width: 64em) {
  .gettingStartedGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

.gettingStartedList {
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 2rem;
}

.gettingStartedItem {
  display: block;

  &:not(:last-child) {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #fff;
  }

  & [class^="heading"] {
    font-style: italic;
  }
}

.gettingStartedSubhead {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.4rem;
  background: #fff;
  color: var(--cfph-primary);
  text-transform: uppercase;
  font-size: var(--p);
  font-weight: 400;
  transform: skew(10deg);
}

.gettingStartedHeading {
  display: block;
  margin-bottom: 0.4rem;
}

.listWrap {
  padding: 2rem 0;
}

.gettingStartedFigure {
  display: none;
}

@media (min-width: 64em) {
  .gettingStartedFigure {
    display: block;
    position: relative;
  }
}
